<div class="inputRow">
    <div class="leftColumn">
        First Name
    </div>
    <div class="rightColumn">
        <input type="text" ng-model="firstName" />
    </div>
</div>
<div class="inputRow">
    <div class="leftColumn">
        Last Name
    </div>
    <div class="rightColumn">
        <input type="text" ng-model="lastName" />
    </div>
</div>
<div class="inputRow">
    <div class="leftColumn">
    </div>
    <div class="rightColumn">
        <input type="button" ng-click="SavePatient()" value="Save Patient" />
    </div>
</div>

{{ ResultMessage }}