<h1>Patients Page</h1>

Filter: <input type="text" ng-model="patientFilter" />

<table>
    <tr>
        <th>PatientId</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Appointments</th>
    </tr>
    <tr ng-repeat="patient in patients | filter:patientFilter" class="tableAnimation">
        <td>{{ patient.PatientId }}</td>
        <td>{{ patient.FirstName }}</td>
        <td>{{ patient.LastName }}</td>
        <td><a href="#/appointments/{{ patient.PatientId }}">View Appointments</a></td>
    </tr>
</table>

<p>
    Data Provided by {{ DataProviderType }}
</p>

